html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  /* display: flex; */
  width: 400px;
  height: 696px;
  background-color: #FFFFFF;
  /* justify-content: center;
  align-items: center; */
  border: 1px solid #ccc;
}

.header {
  padding: 5px;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.app-name {
  font-size: 1.5em;
  font-weight: normal;
  color: 	#0E4C92;
}

.main {
  height: 75%;
  max-height: 600px;
  width: 100%;
  background-color: transparent;
  overflow: scroll;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 22px;
}

h1 {
  font-size: 1.5em;
  color: 	#0E4C92;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
}

.home-msg {
  margin: 0 26px
}

.inner-content {
  height: 100%;
  margin: 0 26px;
  padding-right: 8px;
  overflow: scroll;
}

.bottom-margin {
  margin-bottom: 0px;
}

.activities {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 33px;
}

/*Chatbot CSS*/
div .cs-message-list__typing-indicator-container div {
  color: rgb(163, 163, 163);
}

div .cs-main-container,
div .cs-chat-container .cs-message-input {
  border: 0px;
}

div .cs-chat-container .cs-message-input {
  background-color: #FFFFFF;
}

div .cs-message--incoming .cs-message__content {
  background-color: #EAEBED;
}


div .ps__thumb-y,
div .ps__rail-y:hover .ps__thumb-y,
div .ps__rail-y:active .ps__thumb-y {
  background-color: #C6E3FA;
}

div .cs-message-input__content-editor,
div .cs-message-input__content-editor-wrapper
{
  background-color: #EAEBED;
}

div .cs-message-list
{
  background-color: #ffffff;
}

div .cs-message--outgoing .cs-message__content {
  background-color: #C6E3FA; 
}

div .cs-typing-indicator__dot {
  background-color: rgb(163, 163, 163);
}

/* Hobbies Form */
form {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}

button {
  padding: 8px 16px;
  margin: 5px;
}

/* Charts Style */
.chart-container {
  width: 100%;
  max-width: 400px;  
  height: 200px;  
  margin: 0 10px 0 0;
}

.score-box {
  background-color: #e9eaeb;
  padding: 1px 15px;
  margin-right: 0px;
}

.description-container {
  width: 100%;
  max-width: 400px;  
  height: fit-content;  
  margin: 0 10px 50px 0;
}

.smaller-text {
  font-size: 0.9em;
}

.career-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.related-jobs-list {
  padding: 0;
  margin: 0;
  font-weight: normal;
}