html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  /* display: flex; */
  width: 300px;
  height: 450px;
  background-color: #FFFFFF;
  /* justify-content: center;
  align-items: center; */
  border: 1px solid #ccc;

  /* Increase Size
  width: 30vw;
  max-width: 480px;
  min-width: 300px;
  height: 70vh;
 */
}

.main {
  height: 78%;
  width: 100%;
  background-color: transparent;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  margin: 0.05em 1.5em 0.2em 1.5em;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.app-name {
  font-size: 1em;
  font-weight: normal;
  color: 	#0E4C92;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.4em;
}

h1 {
  font-size: 1em;
  color: 	#0E4C92;
  margin: 0;
}

h2 {
  font-size: 0.8em;
}

h3 {
  font-size: 0.7em;
}

.home-msg {
  margin: 0 1.5em
}

.inner-content {
  height: 100%;
  margin: 0 1.5em;
  padding-right: 8px;
  /* overflow: scroll; */
}

.bottom-margin {
  margin-bottom: 0px;
}

ul, ol {
  font-size: 0.7em;
  padding-left: 1.5em;
}

.activities {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.6em;
  margin-top: 1.4em;
}

p {
  font-size: 0.7em;
}

/*Chatbot CSS*/
div .cs-message-list__typing-indicator-container div {
  color: rgb(163, 163, 163);
  font-size: '0.7em';
}

div .cs-main-container,
div .cs-chat-container .cs-message-input {
  border: 0px;
  font-size: '0.7em';
}

div .cs-chat-container .cs-message-input {
  background-color: #FFFFFF;
  font-size: '0.7em';
}

div .cs-message--incoming .cs-message__content {
  background-color: #EAEBED;
  font-size: '0.7em';
}


div .ps__thumb-y,
div .ps__rail-y:hover .ps__thumb-y,
div .ps__rail-y:active .ps__thumb-y {
  background-color: #C6E3FA;
  font-size: '0.7em';
}

div .cs-message-input__content-editor,
div .cs-message-input__content-editor-wrapper
{
  background-color: #EAEBED;
  font-size: '0.7em';
}

div .cs-message-list
{
  background-color: #ffffff;
  font-size: '0.7em';
}

div .cs-message--outgoing .cs-message__content {
  background-color: #C6E3FA; 
  font-size: '0.7em';
}

div .cs-typing-indicator__dot {
  background-color: rgb(163, 163, 163);
  font-size: '0.7em';
}

/* Hobbies Form */
form {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}

button {
  padding: 8px 16px;
  margin: 5px;
}

/* Charts Style */
.chart-container {
  width: 100%;
  max-width: 400px;  
  height: 10em;  
}

.score-box {
  background-color: #e9eaeb;
  padding: 1px 15px;
  margin-right: 0px;
}

.profile-text {
  margin-bottom: 1.5em;
}

.description-container {
  width: 100%;
  max-width: 400px;  
  height: fit-content;  
  margin: 0 0 2em 0;
}

.career-buttons {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 1.5em;
}

.related-jobs-list {
  padding: 0;
  margin: 0;
  font-weight: normal;
}